<div class="section">
  <h2>List</h2>
  <table>
    <thead>
      <tr>
        <th class="pe-3">Name</th>
        <th class="pe-3">Email</th>
        <th class="pe-3">Phone</th>
        <th class="pe-3">City</th>
        <th class="pe-3">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let data of listData; let i=index">
        <td class="pe-3">
          {{ data?.userName? data?.userName:"N/A" }}
        </td>
        <td class="pe-3">
          {{ data.email }}
        </td>
        <td class="pe-3">
          {{ data.phoneNumber }}
        </td>
        <td class="pe-3">
          {{ data.city }}
        </td>
        <td class="pe-3">
         <span class="pointer" (click)="redirectToEdit(data)">Edit</span>  <span class="ps-4 pointer"  (click)="deleteRecord(data,i)">Delete</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
